 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}
      
:root {
      font-size: 62.5%;
      font-family: 'Lato', sans-serif;
      }
      
body {
      font-size: 1.6rem;
      }

      .hide{
            display: none;
      }

      main{
          background: url(./assets/Back.jpg) no-repeat center/cover;
          min-height: 100vh;
          display: grid;
          place-content: center;
    
      }
      section{
            background: #6d67d0;
            backdrop-filter: blur(1rem);
            border-radius: 1rem;

      }

      .temperature-now{
            width: 48rem;
            padding: 1rem 2rem;
            background: url(/assets/TempBack.jpg);
            position: relative;
      }
    .temperature-now::before{
          content: "";
          width: 17.6rem;
          height: 17.6rem;
          background: url(/assets/clouds.svg) no-repeat;
          display: block;
          position: absolute;
          top: -5.6rem;
          left: -10rem;
    }

    .form-input-container{
      margin: 2rem 0;
      text-align: center;      
}

.form-input-container h2{
      color: #f2f1f9;

}
.form-input-container input{
      font-size: 2rem;
      margin: 2rem 0;
      padding: .8rem;
      color: #6e5f5f;
      border: none;
      border-radius: 4px;

}
.form-input-container button{
      min-width: 5rem;
      padding: .8rem;
      font-size: 2rem;
      color: #662783;
      margin-left: .5rem;
      background-color: #dAd8f7;
      border: none;
      border-radius: 4px;
      cursor: pointer;
     
}
#weather-data{
      border-top: 1px solid #fff;
      margin-top: 1.5rem;
      padding-top: 1.5rem;
      text-align: center;
}

.location{
      text-align: center;
      margin: 1rem;
      padding: 1rem
}
.location h2{
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}
.location i{
      color:#dAd8f7
}
.location span{
      font-size: 3.2rem;
      color: #f2f1f9;
}

.location img {
      height: 3rem;
}


.temp{
      margin: 1rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      gap: 0.4rem;
}
.temp .number{    
      text-align: center;
      font-size: 5rem;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
}

.celsius{
      font-size: 2.5rem;
      color: #dAd8f7;
      margin-top: 1.2rem;
}

.description-container{
      text-align: center;
    display: flex;
    gap: 0.4rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.description-container span{
      font-size: 2.5rem;
      font-weight: bold;
      color: #662783;
      text-transform: capitalize;

}
.description-container img{
      width: 6rem;
      text-align: center;
}

.details-container{
      color: #662783;
      font-size: 2.5rem;
      margin: 2rem;
      text-align: center;
      display: flex;
      gap: 10rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;

}

@media (max-width: 480px){
      
      .temperature-now {
            width: 28rem;
      }
      .temperature-now::before {
            visibility: hidden;}

      .location span {
            font-size: 2.5rem;}

      .temp .number {
      font-size: 4rem;}

      .form-input-container input {
            padding: 0.5rem 0;
      }

}
